<p>
    Dear {{client.FName}} {{client.LName}},
    <br />
    <br />
    Below is a summary of your group's usage charges in the LNF during the month of {{format_date model.Period "MMMM yyyy"}}. The numbers include all LNF charges (room, tool and store). Please note that this message intends to give you an early reasonable indication of usage charges, before the final numbers are posted/invoiced.
</p>
<hr />
{{#if model.HasData}}
<br />
<br />
<b>Charges by Account</b>
<table border="1" width="{{width}}" cellpadding="5" bordercolor="#cccccc" style="margin-top: 20px; border-collapse: collapse;">
    <thead>
        <tr bgcolor="#eeeeee">
            <th>Account</th>
            {{#if model.ShowSubsidyColumn}}
            <th width="150">Net Charges</th>
            <th width="150">Usage Charges</th>
            <th width="150">Subsidy</th>
            {{else}}
            <th width="150">Usage Charges</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#if model.ShowSubsidyColumn}}
        {{#each model.AccountItems}}
        <tr>
            <td>{{Name}}</td>
            <td align="right">{{format_currency NetCharge}}</td>
            <td align="right">{{format_currency UsageCharge}}</td>
            <td align="right">{{format_currency Subsidy}}</td>
        </tr>
        {{/each}}
        {{else}}
        {{#each model.AccountItems}}
        <tr>
            <td>{{Name}}</td>
            <td align="right">{{format_currency UsageCharge}}</td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
    <tfoot>
        <tr bgcolor="#eeeeee">
            <td><b>Total</b></td>
            {{#if model.ShowSubsidyColumn}}
            <td align="right"><b>{{format_currency model.TotalNetCharge}}</b></td>
            <td align="right"><b>{{format_currency model.TotalUsageCharge}}</b></td>
            <td align="right"><b>{{format_currency model.TotalSubsidy}}</b></td>
            {{else}}
            <td align="right"><b>{{format_currency model.TotalUsageCharge}}</b></td>
            {{/if}}
        </tr>
    </tfoot>
</table>
<br />
<br />
<b>Charges by Lab User</b>
<table border="1" width="{{width}}" cellpadding="5" bordercolor="#cccccc" style="margin-top: 20px; border-collapse: collapse;">
    <thead>
        <tr bgcolor="#eeeeee">
            <th>Lab User</th>
            {{#if model.ShowSubsidyColumn}}
            <th width="150">Net Charges</th>
            <th width="150">Usage Charges</th>
            <th width="150">Subsidy</th>
            {{else}}
            <th width="150">Usage Charges</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#if model.ShowSubsidyColumn}}
        {{#each model.ClientItems}}
        <tr>
            <td>{{Name}}</td>
            <td align="right">{{format_currency NetCharge}}</td>
            <td align="right">{{format_currency UsageCharge}}</td>
            <td align="right">{{format_currency Subsidy}}</td>
        </tr>
        {{/each}}
        {{else}}
        {{#each model.ClientItems}}
        <tr>
            <td>{{Name}}</td>
            <td align="right">{{format_currency UsageCharge}}</td>
        </tr>
        {{/each}}
        {{/if}}
    </tbody>
    <tfoot>
        <tr bgcolor="#eeeeee">
            <td><b>Total</b></td>
            {{#if model.ShowSubsidyColumn}}
            <td align="right"><b>{{format_currency model.TotalNetCharge}}</b></td>
            <td align="right"><b>{{format_currency model.TotalUsageCharge}}</b></td>
            <td align="right"><b>{{format_currency model.TotalSubsidy}}</b></td>
            {{else}}
            <td align="right"><b>{{format_currency model.TotalUsageCharge}}</b></td>
            {{/if}}
        </tr>
    </tfoot>
</table>
{{else}}
<br />
<br />
<em class="text-muted">No charges found for this period.</em>
{{/if}}
<br />
<br />
<hr />
<p>
    As a reminder, more details about lab usage and charges for each user listed above can be found in the LNF Online Services (<a href="http://ssel-sched.eecs.umich.edu/sselonline">http://ssel-sched.eecs.umich.edu/sselonline</a>).<br />Instructions are available at <a href="http://lnf-wiki.eecs.umich.edu/wiki/Online_Usage_Report">http://lnf-wiki.eecs.umich.edu/wiki/Online_Usage_Report</a>.
    <br />
    <br />
    If any change in the list of lab users or accounts is needed for future usage, or if you have any question, please contact <a href="mailto:LNF-billing@umich.edu">LNF-billing@umich.edu</a>.
    <br />
    <br />
    Best regards,
    <br />
    Sandrine
</p>
<p>
    <a href="{{unsubscribeUrl}}">Click here to unsubscribe.</a>
</p>